<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title != 'undefined' ? title : 'Netflix' %></title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="<%= typeof bodyClass != 'undefined' ? bodyClass : '' %>">
    <header id="main-header">
        <div class="logo">
            <a href="/">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix">
            </a>
        </div>
        <div class="header-right">
            <a href="/add" class="btn-signin">ADD Movie</a>
        </div>
    </header>
    <main class="container">
